.input,.forgot,.signup{
    display:flex;
    align-items: center;
    justify-content:center;
    width:100%;
    height:30px;

}
.input label{
    position:absolute;
    left:10px;
    top:50%;
    pointer-events:none;
    transform:translateY(-50%);
    transition: 0.3s ease;
    color:#777;
    background:white;
}
.input input:focus+label ,.input input:valid+label{
    top:-1px;
    font-size:14px;
}
.input input{
    outline:none;
    font-size:1rem;
    font-weight:400px;
    border: solid black 1px;
    background:-moz-linear-gradient(rbga(235,245,200,0.4));
    border-radius: 1.2rem;
}