{%extends "base.html"%}
{%block title%} signup page {%endblock%}
{%block content%}
<style type ="text/css" 
src ="{{url_for('static',filename ="signup.css")}}">
    
</style>
<h1>Login </h1>
<form action ="/signup" name="signupform" id ="signup">
<div class="input">
<label for ="email">Email address</label>
<input name ="email" type="email" id ="email" required/>
</div>
<div class="input">
<label for ="password">Password</label>
<input name ="password" type="password" id ="password" required/>
</div>
<div class="input">
<label for ="password1">Password</label>
<input name ="password" type="password" id ="password" required place holder="confirm password"/>
</div>
<div class="input">
    <input type = "submit" id ="submit" value ="Creat account"/>
<div>
<div class="signup">
<p> Already have account?</p>
<a href ="login.html">Login </a>
</div>
</form>
<script type ="text/javascript"
 src ="{{url_for('static',filename="signup.js")}}">
    
</script>
{%endblock%}
